*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* inizio header */

header{
    background-color:#ff6600;
}

ul{
    list-style: none;
    color: white;
    padding: 5px 5px;
}

a, a:hover{
    color: white;
    padding: 6px 10px;
    display: block;
    text-decoration: none;
}

.logo{
    width: 130px;
    height: 30px;
}

/* fine header /*